<div class="chart-component">

  <!--Part on top of the graph : title, dates, log button-->
  <h1>{{title}}</h1>
  <div class="log-date">
    <!--log button-->
    <div class="card flex justify-content-center">
        <div class="switch"><p-inputSwitch [(ngModel)]="scale_log" (onChange)="updateOptions()"></p-inputSwitch><p>Échelle logarithmique</p></div>
    </div>
    <!--dates selectors-->
    <p>Du </p> <p-calendar [(ngModel)]="dateStart" dateFormat="dd/mm/yy" [showIcon]="true"
      (onClose)="updatePeriod()" [inputStyle]="checkIfPossibleDate()"></p-calendar>
    <p> au </p> <p-calendar [(ngModel)]="dateEnd" dateFormat="dd/mm/yy" [showIcon]="true"
      (onClose)="updatePeriod()" [inputStyle]="checkIfPossibleDate()"></p-calendar>
    <!-- Download button -->
    <div class="card flex justify-content-center download-button">
      <p-menu #menu [model]="items" [popup]="true"></p-menu>
      <button pButton type="button" (click)="menu.toggle($event)" icon="pi pi-download"></button>
    </div>
  </div>

  <div *ngIf="errorDate == true">
    <p class="error">Erreur : La date de début doit être antérieure à la date de fin</p>
  </div>


  <div class="down-part">
    <!--Graph on the left-->
    <div class="graph">
      <p-chart type="line" [data]="data" [options]="options"></p-chart>
    </div>
    <!--Mode and legend on the right-->
    <div class="right-part">
      <!--mode selector-->
      <div *ngIf="measurePoints.length == 1">
        <div class="card flex justify-content-center mode-selector">
          <div class="card flex justify-content-center mode-superposition">
              <div class="switch"><p-inputSwitch [(ngModel)]="mode_sup" (onChange)="switchMode()"></p-inputSwitch><p>Comparaison par période</p></div>
          </div>
          <div class="dropdown">
            <p-dropdown *ngIf="mode_sup" (onChange)="updateSuperposition()" [options]="periods"
              [(ngModel)]="period" placeholder="Selectionner un période" autoWidth="false" [style]="{'width':'150px'}"></p-dropdown>
          </div>
        </div>
      </div>
      <!--legend-->
      <div class="legend">
        <div *ngFor="let input of data.datasets">
          <div class="legend-item">
            <p-colorPicker [inline]="false" [(ngModel)]="input.backgroundColor"
              (ngModelChange)="updateColor($event,input.label,input.backgroundColor)" appendTo="body"></p-colorPicker>
            <p [ngClass]="{'hidden-item': input.hidden}">{{input.label}}</p>

            <div class="button-hide">
              <button *ngIf="input.hidden == true" (click)="hideLocation(input.label)" pButton type="button"
              icon="pi pi-eye-slash"></button>
              <button *ngIf="input.hidden == false" (click)="hideLocation(input.label)" pButton type="button"
              icon="pi pi-eye"></button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
