@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "~leaflet/dist/leaflet.css";
@import 'primeicons/primeicons.css';

body {
    //font-family: var(--font-family);
    font-family: Montserrat, sans-serif;
    margin:0px;
    overflow: hidden;
}

.p-button.p-button-icon-tiny{
    font-size: 0.875rem;
    padding: 0.1rem 0.1rem;
    width: 1rem;
    margin-right: 0.4rem;
}

/* temp workaround for the history */
.tree {
    width: 100%  !important;
    position: relative !important;
}

.current-node {
    background-color: rgb(233, 233, 233) !important;
}

.stepCard{
  &.p-card {
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .p-card-title {
  }
  .p-card-body {
    padding: 0.5rem !important;
    margin: 0 !important;
  }

  .p-card-content {
    padding: 0.3rem !important;
    margin: 0 !important;
    scroll-height: 100%;

  }
}

.p-scrollpanel {
  p {
    padding: .5rem;
    line-height: 1.5;
    margin: 0;
  }

  &.custombar1 {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color .2s;

      &:hover {
        background-color: #007ad9;
      }
    }
  }
}
