<div class="title">Menu</div>

<h3>Choose your xml</h3>

<!--  -->
<select name="xml" id="xml-select"> 
    <option value="">--Please choose an xml--</option>
    <option *ngFor="let xml of xmlNames" value="{{xml}}">{{xml}}</option>   <!-- display of all xml names  -->

</select>


<br><br>

<button (click)="sendXmlName()">Go to Xml view</button> <!-- Go to xmlComponent -->

<br><br>
