
<div *ngIf="this.parameters.name[0]!='';else no_xml_loaded">

    <div class="card" style="display: flex; flex-direction: row; justify-content: flex-end; align-items: center;">

       <p-dropdown (onChange)="onChange($event)" [options]="roles" optionLabel="name"></p-dropdown>
<!-- [(ngModel)]="this.service.userRole" -->
       <!--(onChange)="onChange($event)"-->
        <div style="height: 10px;width: 30px;"></div> <!--triche temporaire....pk on peut pas style le bouton et le selecteur ?-->
        <p-button (click)="runCydre()">
            <div class="runButton">
                <div>Run Simulation</div>
            </div>
        </p-button>
    </div>

    <div style="width: 100%;height:22px;"></div>

    <app-xml-nav [parameters] = "parameters"></app-xml-nav>

</div>

<ng-template #no_xml_loaded >
  <h1 style="text-align:center;">Please select a XML file</h1>
</ng-template>

