

<div class="card" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
    <div class="pageTitle" style="margin-right: 10px;">Cydre</div>
    <p-dropdown [options]="roles" [(ngModel)]="selectedRole" optionLabel="name" placeholder="Select a View"></p-dropdown>
    <p-button>
        <div class="runButton">
            <div>Run</div>
        </div>
    </p-button>
</div>


<button pButton pRipple class="parameterButton">
    <div class="parameterButtonTitle">
        <div>Parameter 1</div>
        <i class="pi pi-chevron-right" style="font-size: 2rem"></i>
    </div>
</button>

<button pButton pRipple class="propertyButton">
    <div class="parameterButtonTitle">
        <div>Property 1 </div>
    </div>
</button>

