:host{
    .pageTitle{
        color: #555;
        font-family: Montserrat, sans-serif;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 34px;
    }
    
    .parameterButton{
        display: flex;
        width: 1400px;
        height: 75px;
        padding: 20px 16px;
        margin-top: 34px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        border-radius: 4px;
        border: unset;
        background: rgba(207, 207, 207, 0.30);
        color: #555;
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
    
        .parameterButtonTitle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            gap: 20px;
        }
    }

    .parameterButton:hover{
        background-color: rgba(125, 186, 200, 0.50);
        color: #fff;
    }

    .propertyButton{
        display: flex;
        width: 1400px;
        height: 75px;
        padding: 20px 16px;
        margin-top: 34px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        border-radius: 4px;
        border: unset;
        background: rgba(207, 207, 207, 0.30);
        color: #555;
        font-family: Montserrat, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
    
        .parameterButtonTitle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            gap: 20px;
        }
    }

    .propertyButton:hover{
        pointer-events: none;
    }

    .runButton {
        display: flex;
        flex-direction: row;
        font-weight: 500; 
    }
    

    ::ng-deep .p-dropdown{
        width: 180px;
        font-family: Montserrat, sans-serif;
        border-radius: 4px;
        border: unset;
        background: #fff;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    }

    ::ng-deep .p-element{
        font-family: Montserrat, sans-serif;
    }

    ::ng-deep .p-inputtext{
        font-family: Montserrat, sans-serif;
    }

    ::ng-deep .p-dropdown-panel{
        padding: 6px;
    }

    ::ng-deep .p-dropdown-panel .p-dropdown-items {
        padding: 0;
    }

    ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        color:#555;
        font-weight: 500; 
    }

    ::ng-deep .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
        background-color: rgba(125, 186, 200, 0.50);
        border-radius: 4px;
        color:#fff;
    }

    ::ng-deep .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
        position: relative; /* Needed to properly position the rectangle bar */
        background-color: rgba(125, 186, 200, 0.60);
        border-radius: 4px;
        color:#fff;
    }

    ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(:first-child) {
        margin-top: 10px; /* Adjust this value as needed */
    }
    
    
    ::ng-deep .p-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight::before {
        content: '';
        position: absolute;
        left: 6px;
        top: 8px;
        bottom: 8px;
        width: 5px;
        height: calc(100% - 16px);
        border-radius: 11px; 
        background-color: #7C98B3; /* Color of the rectangle bar */
    }

    ::ng-deep .p-button {
        font-family: Montserrat, sans-serif;
        border-radius: 4px;
        border: unset;
        background-color: #fff;
        color: #555;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    }

    ::ng-deep .p-button:hover {
        background-color: rgba(125, 186, 200, 0.50);
    }
    
    

}



