<p-table> 
    <ng-template pTemplate="header"> <!-- head of the table-->
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Value</th>
            <th>Default value</th>
            <th>Possible values</th>
            <th>Rules</th>
            <th>Description</th>
        </tr>
    </ng-template>
<p-table>