
<div style="display:flex; justify-content: center;">
    <input class="researchInput" placeholder="Search XML file" #filter (keyup)="keyPress(filter.value)">
</div>

<div class="buttonlist">
    <button *ngFor="let name of filteredxmlNames" [ngClass]="(name===this.currentName) ? 'active':'unactive'" (click)="sendXmlName(name)"> {{name}}</button>
</div>


