.title{
    text-align: center;
    font-size: 3em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}

.timer-text {
  font-size: 4em;
}

.timeline{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border{
  border: 2px solid black;
}

.maxWidth{
  width:100%;
}

.halfWidth{
  text-align:left;
  width:20%;
}

.alignRight{
  text-align: right;
}

.redtext{
  color: red;
}

.greentext{
  color:green;
}

.invisible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.showButton{
  width: 100%;
}

