* {
  margin: 0;
}

.container{
  display: flex;
  height: calc(100vh - 150px);
  float: right;
}

.container aside{
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  transition: all 2s;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 5px;
  height: 100%;
}

h1{
  text-align: center;
  background-color:#3f51b5;
  color: white;
  border-radius: 2px;
}

.p-accordion{
  padding:0;
}

.float-child {
  position: relative;
  right: -35%;
}

.inline-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 2px;
}

.inline-parent > p-dropdown, .inline-parent > p {
  margin: 20px;
}

.background{
  background-color:#3f51b5;
  padding: 5px;
}

p-panel {
  width: 100%;
}


