/* Style page content */
.main {
    margin-left: 250px;
    padding: 20px 10px;
    //background-color: blue;
}


.sidenav {
    position:fixed;
    height: 100%;
    width: 250px;
    z-index: 1;
    padding: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
