<app-topbar></app-topbar>
<div class="title"> Menu Original </div>

<p> cette page a été maintenue comme point de départ, pour définir le role du compte utilisateur</p>
<p> sans l'implémentation d'un système d'authentification, il est nécessaire de pré-sélectionner le role</p>

<h3>Choose your xml</h3>

<select name="xml" id="xml-select">
    <option disabled selected value="">--Please choose an xml--</option>
    <option *ngFor="let xml of xmlNames" value="{{xml}}">{{xml}}</option>   <!-- display of all xml names  -->
</select>

<br><br>

<select [(ngModel)]="selectedRole" name="userRole">
    <option disabled selected value="">--Please choose your user role--</option>
    <option value="Observer">Observer</option>
    <option value="Scientist">Scientist</option>
</select>

<br><br>

<button (click)="sendXmlName()">Go to Xml view</button> <!-- Go to xmlComponent -->

<br><br>