<div class="title">Results</div>


<a routerLink="/menu">Back to menu</a>


<div *ngIf="result">
<!--    <pre>{{ result | json }}</pre>-->
  <div class="container-inline" [ngClass]="{'sidebar-closed': isSidebarClosed}">
    <app-plot></app-plot>
    <app-history (click)="toggleSidebar()"></app-history>
  </div>
</div>
  <div *ngIf="!result">Loading...</div>
