tr.disabled {
    /* Define the styles to visually represent a disabled row */
    opacity: 0.5; /* For example: Reducing opacity */
    pointer-events: none; /* Prevents interactions with the row */
    /* Add any other styles to visually indicate a disabled state */
  }
