<p-table [value]="parameters" dataKey="name"> <!-- we take the variable to iterate on it later -->
    <ng-template  pTemplate="body" let-parameter let-expanded="expanded"> <!--body table -->

        <!-- **************** Parameter case = end of recursion -->
        <tr *ngIf="isParameter(parameter) && !isDisabled(parameter)">
          <!-- Other version: parameters that are not relevant can be grey (not disappearing) -->
          <!-- <tr *ngIf="isParameter(parameter)" [class.disabled]="isDisabled(parameter)"> -->
            <td>{{ parameter.name }}</td>
            <td>{{ parameter.type }}</td>
            <td>
                <!-- [ioTextinput] (textinputBinder)="setParamChange($event, parameter)" -->
                <input
                  type="text"
                  [ngModel]="parameter.value"
                  (ngModelChange)="updateModel($event, parameter)"
                  id="{{ parameter.name }}"
                />
              <!---
                <input type="text"
                    [(ngModel)]="parameter.value"  id="{{parameter.name}}"/> -->  <!-- [(ngModel)] -> link the value field betweent the front and parameters in bodyComponent -->
                <!-- {{parameter.value}} -->
            </td>

            <td>{{ parameter.default_value }}</td>
            <td>{{ parameter.possible_values }}</td>
            <td>X</td>
            <td>{{ parameter.description }}</td>
        </tr>



        <!-- **************** ParametersGroup case = recursion case -->
        <tr *ngIf="!isParameter(parameter)"> <!-- if it's not a Parameter, then it's a ParametersGroup -->
            <td colspan="5">
                <p-button [pRowToggler]="parameter" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" styleClass="p-button-outlined p-button-icon-tiny"></p-button> <!-- expand button -->
                <span>{{ parameter.name }}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-parameter> <!-- content when you press the button to expand the xml -->
        <tr>
            <td colspan="7">
                <tr *ngIf="existParam(parameter)"> <!-- we check if it is a parameter -->
                    <app-body [parameters]="parameter.Parameter" [parentPath]="getFullPath(parameter)"></app-body> <!-- we callback the component with the Parameter of the current element -->
                </tr>
                <tr *ngIf="existParamGroup(parameter)"> <!-- we check if it is a ParametersGroup -->
                    <app-body [parameters]="parameter.ParametersGroup" [parentPath]="getFullPath(parameter)"></app-body> <!-- we callback the component with the ParametersGroup of the current element -->
                </tr>

    </ng-template>


<p-table/>
