/*.inline-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.float-child {
  width: 50%;
  float: left;
}
*/
